.container{
    display:flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

#bill-btn, #cash-btn, #bill, #cash{
    margin: 0.8rem;
    padding: 0.8rem;
}

/* #bill-validator,#cash-validator, #afterbill, #aftercash{
    display: none;
} */